@import 'variables';
.playerInfo {
  form {
    margin: auto;
    width: 400px;
  }
  #name,
  #might,
  #timeZone {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    margin-bottom: 15px;
    font-size: 14px;
    color: #555;
  }
  p {
    font-size: 24px;
    margin-bottom: 10px;
  }
  .addPlayerCastleDiv {
    margin-bottom: 15px;
  }
  .addPlayerTimeZoneDiv {
    position: relative;
  }
  .addPlayerCastleDiv {
    padding: 7px;
    font-size: 24px;
    span {
      margin-left: 15px;
    }
    input {
      padding: 10px;
    }
    input[type=checkbox] {
      transform: scale(1.5);
    }
  }
  #timeZone {
    margin-left: 27px;
    width: 93%;
  }
  #sign {
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 4px;
    appearance: none;
    outline: none;
    padding: 8px;
    height: 34px;
    font-weight: bold;
  }
  display: flex;
  height: 100%;
  width: 100%;
}

