@import 'variables';
.selectDiv {
  button {
    padding: 10px;
    color: white;
    background-color: $blue;
    border: none;
    outline: none;
    width: 140px;
    cursor: pointer;
    font-weight: bold;
    &:hover {
      color: #b09a68;
    }
  }
  float: right;
  display: inline-block;
  padding: 20px 0 20px 20px;
  position: relative;
}

.filterDropdownDiv {
  background-color: $blue;
  width: 140px;
  padding: 10px;
  position: absolute;
  top: 20px;
  left: 20px;
  p {
    padding: 10px;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: rgb(231, 231, 231);
      color: $blue;
    }
  }
}