@import 'variables';

.searchInput {
    height: 25px;
    padding: 3px 3px 3px 25px;
    outline: none;
    border-radius: 10px;
    border: 1px solid $blue;
  }
  
  .searchIcon {
    position: absolute;
    top: 30px;
    left: 5px;
    height: 15px;
  }
  
  .searchDiv {
    display: inline-block;
    position: relative;
    padding: 25px 20px 25px 0;
  }