@import 'global';
@import 'variables';
@import 'modal';
@import 'header';
@import 'playerRow';
@import 'search';
@import 'filterSelect';
@import 'helpers';
@import 'login';
@import 'addPlayer';
@import 'speedupCounter';
@import 'updatePlayer';
.container,
.headerContainer {
  padding: 0 10%;
}

html,
body,
#root,
.app,
.container {
  height: 100%;
  width: 100%;
}

.home {
  padding: 0 5px 5px 5px;
}

.main {
  background-color: rgb(149, 255, 149);
}